<h2><button title="Refresh location" class="btn btn-default" id="location-refresh"><span class="glyphicon glyphicon-refresh"></span></button> <span id="location-text">Location: <%- lat %>,<%- lon %></span></h2>