<% $.each(_.sortBy(predictions, "direction"), function(idx, prediction) { %>
<div class="well">
    <h3><%- prediction.routeTitle %></h3>
    <% if (_.isArray(prediction.direction)) { %>
        <% $.each(prediction.direction, function(idx, direction) { %>
            <h4><%- direction.title %></h4>
            <% if (_.isArray(direction.prediction)) { %>
                <% $.each(direction.prediction, function(idx, arrivalPrediction) { %>
                    <div class="arrival-prediction">
                    <% if (arrivalPrediction.minutes > 0) { %>
                        <span class="minutes"><%- arrivalPrediction.minutes %> minutes, </span>
                        <span class="seconds"><%- arrivalPrediction.seconds % 60 %> seconds</span>
                    <% } %>
                    </div>
                <% }); %>
            <% } %>
        <% }); %>
    <% } else { %>
    <p>No predictions available.</p>
    <% } %>
</div>
<% }); %>