<form>
    <select class="form-control">
        <% $.each(stops, function(idx, stop) { %>
        <option value="<%- stop.agency %>/<%- stop.stopId %>"><%- stop.title %></option>
        <% }); %>
    </select>
</form>